<nav class="navbar navbar-expand-lg  bg-dark">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://t4.ftcdn.net/jpg/04/51/74/43/360_F_451744391_932DU0eXgGbpDZhcemuTjz1jTlqiCuIF.jpg" alt="Logo" width="150" height="100" class="d-inline-block align-text-top">
      </a>
    </div>
  </nav>
    <a class="h1 text-info" href="#">Hirehub</a>
    <form class="form-inline ml-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="ml-auto form-inline">
      <li class="nav-item active">
        <a class="nav-link h5 text-info" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h5 text-info" href="/login">Login</a>
      </li>
  </div>
</nav>
<app-property-card></app-property-card>

